@font-face {
    font-family: susiFont;
    src: url(../fonts/AvenirLTStd-Book.otf);
}
  
div{
    font-family: susiFont, sans-serif;
}

.btn-custom{
    color: #BFBAB2;
    border-radius: 5px;
    border: 1px solid #999 ;
}

a {
    color: inherit;
}

.card{
    margin: 20px;
}

#insta-logo {
    filter: grayscale(1);
    width: 30px;
}

#main-logo {
    width: 150px;
}
#header-title {
    text-align: center;
    padding: 50px;
}


.menu li{
   color: #BFBAB2; 
}


.carousel-inner img {
    margin: auto;
  }

.content {
    margin-left: 10px;
}

.shop-sections {
    padding-left: 40px;
}

.footer a{
    color: black;
}

.card-title {
    font-style: italic;
}

 @media screen and (max-width: 1400px) {
    #carouselGaleria {
      width: 1320px;
    }
  }
  @media screen and (max-width: 1200px) {
    #carouselGaleria {
      width: 1200px;
    }
  }
  @media screen and (max-width: 992px) {
    #carouselGaleria {
      width: 720px;
    }
  }
  
  @media screen and (max-width: 720px) {
    #carouselGaleria {
        width: 600px;
      }
  }

  @media screen and (max-width: 600px) {
    #carouselGaleria {
        width: 360px;
      }
  }
